<br>
  <h4>Example Authentic App</h4>
  <p>
    <br>
    This is a sample Authentic app, to test authentication first ensure you've runt:
    <br>
  </p>
  <code>
    $ buffalo db create 
  </code>
  <p>
    And
<br>
  </p>
  <code>
    $ buffalo db migrate
  </code>
  <p>And Finally</p>
  <code>
    $ buffalo task db:seed
  </code>
  
  <p>
    <br>
    This app has 2 available pages <em>"/"</em> where you are now, and <em> "/secure/home"</em> which needs you to be logged in, below you'll find a link to secure home, you'll need to use credentials (test@test.com/password123) to get into there.
  </p>

  <a href="/secure/home" class="btn btn-default">Take me to secure area</a>
